/* heading styles */
 h2 {
   text-transform: uppercase;
    font-size: 32px;
    text-align:center;
    padding: 32px;
    background-color: white;
    color: #333;
    border-bottom: 4px solid #fdb347;
}

/* image styles */
img {
    max-width: auto;
    box-sizing: border-box;
    box-shadow: white 0px 0 10px 0px;
    border-radius: 10px;
    align-items: center;
    height: 550px;
    width: 550px;
}

/* p styles */
p {
    font-size: 20px;
    line-height: 1.5;
    color: white;
    margin-bottom: 15px;
    font-style: italic;
    max-width: 600px;
}
/* body styles */
body {
    background-image: url("airplane.jpeg");
    box-sizing: border-box;
    margin-top: -20px;
    padding: 20px;
    background-size: cover;
}
a:visited {
    color: purple;
}
a:hover {
    color: white;
}
li {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;}

    /* anchor styles */
a {
    size: 20px;
    color: white;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.slider img {
  width: 300px;      
  height: auto;
  border-radius: 10px;
}

.slider button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

header {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    padding: 32px;
    background-color: white;
    color: #333;
    border-bottom: 4px solid #fdb347;
}

a {
    size: 1000px;
    color: blue;
}
a:hover {
    color: white;
}
a:visited {
    color: purple;
}